.genres-section {
  width: 80%;
}

.genres-container {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.genre-button {
  padding: 8px 16px;
  border: 1px solid var(--gray-4);
  border-radius: 4px;
  background-color: var(--gray-6);
  color: var(--gray-3);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
}

.genre-button:hover {
  background-color: var(--gray-2);
  color: var(--gray-7);
}

.genre-button.active {
  background-color: var(--brand-1);
  color: white;
  border-color: var(--brand-1);
}