/* Estilos Globais */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    /* Cores da marca */
    --brand-1: #6F00FF;
    --brand-2: #8629FF;

    /* Escala de cinza */
    --gray-1: #15171A;
    --gray-2: #212529;
    --gray-3: #2B2F33;
    --gray-4: #CED4DA;
    --gray-5: #DEE2E6;
    --gray-6: #F1F3F5;
    --gray-7: #F8F9FA;
    --gray-8: #FDFEFF;
 
    /* Sistema de tipografia */
    --font-size-logo: 40px;
    --font-size-xxl: 24px;
    --font-size-xl: 22px;
    --font-size-lg: 19.2px;
    --font-size-md: 16px;
    
    /* Sistema de tipografia */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 600;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--gray-8);
  color: var(--gray-1);
  margin: 0 auto;
  padding: 20px;
}

/* Estilos base para headings */
h1 { font-size: var(--font-size-xxl); }
h2 { font-size: var(--font-size-xl); }
h3 { font-size: var(--font-size-lg); }

/* Adicione no final do arquivo */
body.dark-mode {
  background-color: var(--gray-1);
  color: var(--gray-8);
}

body.dark-mode .header {
  background-color: var(--gray-2);
}
body.dark-mode .purple-text{
  color: var(--brand-2);
}
body.dark-mode .genre-button{
  border: 1px solid var(--gray-2);
  background-color: var(--gray-2);
  color: var(--gray-6);
}
body.dark-mode .genre-button:hover{
  background-color: var(--gray-7);
  color: var(--gray-2);
}
body.dark-mode .genre-button.active{
  background-color: var(--gray-7);
  color: var(--gray-2);
}
body.dark-mode #price-number{
  color: var(--brand-2);
}
body.dark-mode .price-range{
  background: linear-gradient(to right, var(--brand-2) 50%, var(--gray-4) 50%);
}
body.dark-mode .price-range::-moz-range-thumb,
body.dark-mode .price-range::-webkit-slider-thumb{
  border: 4px solid var(--brand-2);
}body.dark-mode .album-card {
  background-color: var(--gray-3);
}

body.dark-mode .album-type,
body.dark-mode .album-band{
  color: var(--gray-6);
}

body.dark-mode .section-title,
body.dark-mode .price-value,
body.dark-mode .album-title,
body.dark-mode .album-price {
  color: var(--gray-7);
}