.main-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
  color: var(--gray-1);
  margin-bottom: 16px;
}
