.price-section {
  width: 80%; 
  padding-top: 30px;
}

.text-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin-bottom: 0.8rem;
  
}

.price-range {
  width: 100%;
  appearance: none;
  cursor: pointer;
  background-color: var(--gray-5);
  border-radius: 0.5rem;
  height: 0.5rem;
}

.price-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 50%;
  border: 0.35rem solid var(--brand-1);
}
.price-value {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--gray-2);
  margin-bottom: 22px;
}
#price-number {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--brand-1);
}