.price-section {
  width: 80%; 
  padding-top: 30px;
}

.text-price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin-bottom: 0.8rem;
  
}
.price-range-container {
  position: relative;
  height: 20px;
  width: 100%;
}

.price-value {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--gray-2);
  margin-bottom: 22px;
}

#price-number {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--brand-1); 
}

.progress-fill {
  height: 6px;
  position: relative;
}

.progress-fill progress{
  display: none;
}


.price-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10.5px;
  border-radius: 4px;
  background: linear-gradient(to right, var(--brand-1) 50%, var(--gray-5) 50%);
  outline: none;
  transition: background 0.3s ease;
  margin: 0;
  padding: 0;
}


.price-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: #FDFEFF;
  border: 4px solid var(--brand-1);
  border-radius: 50%;
  cursor: pointer; 
  position: relative;
  z-index: 2;
}

.price-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background-color: #FDFEFF;
  border: 4px solid var(--brand-1);
  border-radius: 50%;
  cursor: pointer;
}